@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

.footer-main-container {
    width: 100%;
    height: 225px;
    background-color: map.get($colores, primary-color);
}

.content-container {
    @include flex-center-elements-XY;
    height: 100%;
    padding: 2rem;
    color: map.get($colores, font-dark-background-color);
}

.about-us-container {
    width: 45%;
    margin-right: 1rem;

    h3 {
        margin-bottom: 0rem;
        font-family: var(--font-gontSerrat);
        font-weight: 600
    }

    p {
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: .9rem;
        font-family: var(--font-timeless);
    }

    small {
        font-size: 0.8rem;
        font-weight: 600;
        font-family: var(--font-timeless);
    }
}

.line-separation {
    width: 8px;
    height: 100%;
    background-color: #fff;
}

.info-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.navigation-container {
    margin-left: 1rem;
    margin-right: 3rem;

    h4 {
        font-family: var(--font-gontSerrat);
        font-weight: 600
    }

    ul {
        padding-left: 0rem;
        list-style-type: none;
        line-height: 1.6rem;
        font-family: var(--font-timeless);
    }
}

.navigation-container ul li a {
    color: map.get($colores, font-dark-background-color);
    text-decoration: none;

    &:hover {
        text-decoration: $default-text-decoration;
    }
}



.contact-us-container {
    h4 {
        font-family: var(--font-gontSerrat);
        font-weight: 600
    }

    ul {
        padding-left: 0rem;
        list-style-type: none;
        line-height: 1.6rem;
    }
}

.contact-us-container ul li a {
    text-decoration: none;
    color: map.get($colores, font-dark-background-color);
    font-family: var(--font-timeless);

    &:hover {
        text-decoration: $default-text-decoration;
    }
}

.copyright-container {
    width: 100%;
    height: 5vh;
    color: map.get($colores, font-light-background-color);
    font-weight: 700;
    font-family: var(--font-gontSerrat);
    @include flex-center-elements-XY;
    background-color: map.get($colores, secondary-color);
}