@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

.footer-main-container {
    width: 100%;
    height: 225px;
    background-color: map.get($colores, primary-color);
    overflow: hidden;
}

.content-container {
    @include flex-center-elements-XY;
    height: 100%;
    padding: 2rem;
    color: map.get($colores, font-dark-background-color);
}

.about-us-container {
    width: 45%;
    margin-right: 1rem;

    h3 {
        margin-bottom: 0rem;
        font-family: var(--font-gontSerrat);
        font-weight: 600
    }

    p {
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: .9rem;
        font-family: var(--font-timeless);
    }

    .legal-remark {
        line-height: 1rem;
        font-size: 0.7rem;
        font-weight: 600;
        font-family: var(--font-timeless);
    }
}

.line-separation {
    width: 8px;
    height: 100%;
    background-color: #fff;
}

.info-container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.navigation-container {
    margin-left: 1rem;
    margin-right: 3rem;

    h4 {
        font-family: var(--font-gontSerrat);
        font-weight: 600
    }

    ul {
        padding-left: 0rem;
        list-style-type: none;
        line-height: 1.6rem;
        font-family: var(--font-timeless);
    }
}

.navigation-container ul li a {
    color: map.get($colores, font-dark-background-color);
    text-decoration: none;

    &:hover {
        text-decoration: $default-text-decoration;
    }
}

.contact-us-container {
    margin-bottom: 0rem;

    h4 {
        font-family: var(--font-gontSerrat);
        font-weight: 600
    }

    ul {
        padding-left: 0rem;
        list-style-type: none;
    }
}

.contact-us-container ul li a {
    text-decoration: none;
    color: map.get($colores, font-dark-background-color);
    font-family: var(--font-timeless);

    &:hover {
        text-decoration: $default-text-decoration;
    }
}

.copyright-container {
    width: 100%;
    height: 5vh;
    color: map.get($colores, font-light-background-color);
    font-weight: 700;
    font-family: var(--font-gontSerrat);
    @include flex-center-elements-XY;
    background-color: map.get($colores, secondary-color);
}

@media screen and (max-width: 1200px) {
    .content-container {
        padding: 2rem 1rem;
        justify-content: space-evenly;
    }

    .about-us-container {
        margin-right: 0rem;

        h3 {
            @include footer-title-styles($footer-title-xl, .7rem);
        }

        p {
            @include footer-p-styles($footer-size-p-xl, .6rem);
        }

        small {
            @include footer-small-styles($footer-size-small-xl);
        }
    }

    .navigation-container {
        margin-left: 0rem;
        margin-right: 2rem;

        h4 {
            @include footer-title-styles($footer-subtitle-xl, .5rem);
        }

        ul {
            font-size: $footer-info-font-size-xl;
            padding-left: 0rem;
            list-style-type: none;
            line-height: 1.6rem;
            font-family: var(--font-timeless);
        }
    }

    .contact-us-container {
        h4 {
            @include footer-title-styles($footer-subtitle-xl, .5rem);
        }

        ul {
            font-size: $footer-info-font-size-xl;
            padding-left: 0rem;
            list-style-type: none;
            line-height: 1.6rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .about-us-container {
        margin-right: 0rem;

        h3 {
            @include footer-title-styles($footer-subtitle-lg, .5rem);
        }

        p {
            @include footer-p-styles($footer-size-p-lg, .4rem);
        }

        .legal-remark {
            line-height: .7rem;
            font-size: 0.5rem;
        }
    }

    .line-separation {
        width: 3px;
    }

    .navigation-container {
        margin-left: 0rem;
        margin-right: 2rem;

        h4 {
            @include footer-title-styles($footer-subtitle-lg, .5rem);
        }

        ul {
            font-size: $footer-info-font-size-lg;
            padding-left: 0rem;
            list-style-type: none;
            line-height: 1.3rem;
            font-family: var(--font-timeless);
        }
    }

    .contact-us-container {
        h4 {
            @include footer-title-styles($footer-subtitle-lg, .5rem);
        }

        ul {
            font-size: $footer-info-font-size-lg;
            padding-left: 0rem;
            list-style-type: none;
            line-height: 1.3rem;
        }
    }
}

@media screen and (max-width: 568px) {
    .content-container {
        padding: 1.2rem .1rem;
    }

    .about-us-container {
        h3 {
            @include footer-title-styles($footer-subtitle-lg, .7rem);
        }

        p {
            margin-top: .4rem;
            width: 100%;
            @include footer-p-styles($footer-size-p-lg, .7rem);
            @include resume-lines-footer;
        }

        .legal-remark {
            line-height: .4rem;
            font-size: 0.4rem;
            @include resume-game-title-two-lines;
        }
    }

    .info-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }


    .line-separation {
        width: 2px;
    }

    .navigation-container {
        margin-left: 0rem;

        h4 {
            @include footer-title-styles($footer-subtitle-lg, .3rem);
        }

        ul {
            font-size: $footer-info-font-size-lg;
            padding-left: 0rem;
            list-style-type: none;
            line-height: 1.1rem;
            font-family: var(--font-timeless);
        }
    }

    .contact-us-container {
        h4 {
            @include footer-title-styles($footer-subtitle-lg, .3rem);
        }

        ul {
            font-size: $footer-info-font-size-lg;
            padding-left: 0rem;
            list-style-type: none;
            line-height: 1.1rem;
        }
    }

    .legal-remark {
        line-height: 0rem;
    }

    .copyright-container {
        font-size: .8rem;
        height: 30px;
    }
}