.header-main-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494A7F;
    overflow: hidden;
}

.headers-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.image-container {
    position: relative;
    width: 180px;
    height: 180px;
}

.headers-list li a {
    color: #fff;
    text-decoration: none;
}

.headers-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    width: auto;
    height: auto;
}

.headers-list li a:hover {
    text-decoration: underline .2rem #fff solid;
}

.button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.button i {
    padding-left: 0.3rem;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline .2rem #fff solid;
}