@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

@mixin font-style-header($font-size) {
    font-size: $font-size;
    font-weight: 600;
    font-family: var(--font-gontSerrat);
    font-style: normal;
    letter-spacing: 0.02rem;
}

.header-main-container {
    width: 100%;
    height: 80px;
    @include flex-center-elements-XY;
    background-color: map.get($colores, primary-color);
}

.headers-list {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    li {
        @include flex-center-elements-XY;
        white-space: nowrap;
        text-align: center;
        text-transform: uppercase;
        @include font-style-header(1.1rem);
        width: auto;
        height: auto;

        .image-container {
            position: relative;
            width: 180px;
            height: 45px;
        }
    }
}

.headers-list li a {
    color: map.get($colores, font-dark-background-color);
    text-decoration: none;

    &:hover {
        text-decoration: $default-text-decoration;
    }
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.click-overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.button-container {
    position: relative;
}

.options {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%); // Centra horizontalmente

    display: flex;
    flex-direction: row;
    gap: 6px;
    background-color: map.get($colores, complementary-color);
    border-radius: .4rem;
    padding: .8rem;
    z-index: 15;

    a {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-right: .5rem;
    }
}

.button {
    @include font-style-header(1.1rem);
    background-color: transparent;
    color: map.get($colores, font-dark-background-color);
    border: none;
    text-transform: uppercase;

    i {
        padding-left: 0.3rem;
    }

    &:hover {
        cursor: pointer;
        text-decoration: $default-text-decoration;
    }
}

@media screen and (max-width: 1200px) {
    .headers-list {
        li {
            @include font-style-header(1rem);

            .image-container {
                position: relative;
                width: 170px;
                height: 40px;
            }
        }
    }

    .button {
        @include font-style-header(1rem);
    }
}

@media screen and (max-width: 992px) {
    .headers-list {
        li {
            @include font-style-header(.9rem);

            .image-container {
                position: relative;
                width: 160px;
                height: 35px;
            }
        }
    }

    .button {
        @include font-style-header(.9rem);
    }
}

@media screen and (max-width: 768px) {
    .header-main-container {
        height: 70px;
    }

    .headers-list {
        width: 70%;

        li {
            white-space: normal;
            @include font-style-header(.8rem);
            
            .image-container {
                position: relative;
                width: 120px;
                height: 30px;
            }
        }
    }

    .button {
        white-space: nowrap;
        @include font-style-header(.8rem);

        i {
            padding-left: 0.1rem;
        }
    }
}