@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

.container {
    padding: 8rem $game-page-padding-x-axis;
    padding-bottom: 5rem;
    background-color: #416397;
}

.date {
    font-size: 1rem;
    color: map.get($colores, font-dark-background-color);
}

.link {
    color: map.get($colores, color-price);
}

.title {
    font-family: $primary-font-style;
    font-size: clamp(1rem, 1.5vw + .8rem, 2.5rem);
    color: map.get($colores, font-dark-background-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.article-title {
    font-family: $primary-font-style;
    font-size: clamp(.8rem, 1vw + .5rem, 2.5rem);
    color: map.get($colores, font-dark-background-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container p {
    font-family: $seconday-font-style;
    font-size: clamp(.7rem, 1vw + .5rem, 1.2rem);
    color: map.get($colores, font-dark-background-color);
}

.list {
    color: map.get($colores, font-dark-background-color);
    font-size: clamp(.7rem, 1vw + .5rem, 1.2rem);
    font-family: $seconday-font-style;
}

@media screen and (max-width:568px) {
    .container {
        padding-top: 7rem;
        padding-bottom: 2rem;
    }
}