@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

$font-main-color: map.get($colores, font-dark-background-color);
$button-font-color: map.get($colores, secondary-color);

.about-the-game-container {
    color: $font-main-color;
    width: 85%;
    margin-bottom: 2rem;

    h2 {
        @include mainTitleGamePage;
    }

    p {
        font-family: var(--font-timeless);
        margin-bottom: .5rem;
    }
}

.read-more-button {
    font-family: var(--font-timeless);
    font-size: 1.1rem;
    font-weight: 700;
    color: $button-font-color;
    text-decoration: underline 0.1rem solid $button-font-color;
    background-color: transparent;
    border: none;
    padding: 0rem;
}