@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

$main-font-color: map.get($colores, font-dark-background-color);

.franchise-card-container {
    height: 280px;
    width: 100%;
}

.franchise-card {
    position: relative;
    width: 100%;
    height: 70%;
    margin-bottom: 1.3rem;
}

.game-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    @include offer-shadow;
}

/* Discount */

.discount-and-store-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: map.get($colores, discount-color);
    padding: .3rem;
    width: 90px;
    height: 40px;
    bottom: -10px;
    left: -10px;
    z-index: 3;
}

.discount {
    color: $main-font-color;
    font-weight: 500;
    font-family: var(--font-gontSerrat);
    font-size: 1.1rem;
}

.store {
    width: 30px;
    height: 30px;
}

/* Game Info */

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $main-font-color;
    width: 100%;
    height: 30%;
}

.info {
    line-height: 0.8rem;
}

.info h3 {
    font-size: clamp(.9rem, 0.8rem + 1vw, 1.3rem);
    margin-bottom: .3rem;
}

.released-time {
    font-size: clamp(0.6rem, 0.5rem + 1vw, .8rem);
    font-family: $seconday-font-style;
    opacity: .8;
    white-space: nowrap;
}

.price {
    font-size: clamp(1rem, .8rem + 1vw, 1.4rem);
    font-weight: 600;
    font-family: $primary-font-style;
}

@media screen and (max-width: 768px) {
    .info {
        line-height: 0.9rem;
    }
}

@media screen and (max-width: 568px) {
    .info {
        line-height: 0.7rem;
    }
}