@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

$font-main-color: map.get($colores, font-dark-background-color);
$lines-color: map.get($colores, dark-background-color);

$main-font: var(--font-gontSerrat);
$secondary-font: var(--font-timeless);

.game-info-container {
    scroll-margin-top: 70px;

    h3 {
        @include secondaryTitleGamePage;
    }
}

.link {
    color: map.get($colores, font-dark-background-color);
    font-family: $secondary-font;
}

.table {
    color: $font-main-color;
    font-family: $secondary-font;
    font-size: clamp(.8rem, .6rem + 1vw, 1.2rem);
}

.table th {
    font-weight: 600;
    border-right: .4rem solid $lines-color;
    padding: 8px 8px 8px 0px;
    text-align: left;
}

.table td {
    font-weight: 500;
    padding: 8px;
}