@use '../../styles/_variables/variables' as *;
@use '../../styles/_variables/mixins' as *;
@use 'sass:map';

$background-color: #fff;

.image-card {
    position: relative;
    width: $offerimage-and-gameimage-width;
    height: $offerimage-and-gameimage-height;
    border-radius: 1rem;
    background-color: $background-color;
    overflow: hidden;
}

.image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-card-loading {
    @extend .image-card;
    @include flex-center-elements-XY;
    background-color: #fff;
}

/* Loading */

.spinner {
    @include spinnerStyles;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {
    .image-card {
        display: none;
    }
}