@use '../../styles/_variables/variables' as *;
@use '../../styles/_variables/mixins' as *;
@use 'sass:map';

$background-color: map.get($colores, dark-background-color);

.image-card {
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 1rem;
    background-color: $background-color;
    overflow: hidden;
}
