.game-image-container {
    position: relative;
    width: 100%;
    height: 45vh;
    min-height: 45vh;
    margin-bottom: clamp(7rem, 5rem + 8vw, 12rem);
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}

.game-image {
    width: 110%;
    height: auto;
    transform: translateY(0);
    filter: brightness(60%); 
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .game-image-container {
        min-height: 40vh;
    }
}

@media screen and (max-width: 768px) {
    .game-image-container {
        min-height: 30vh;
    }
}

@media screen and (max-width: 568px) {
    .game-image-container {
        min-height: 25vh;
    }
}