.game-image-container {
    position: relative;
    width: 100%;
    height: 35vh;
    margin-bottom: 20rem;
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    /* Rampa invertida y menos inclinada */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%);
}