@use '../../styles/_variables/variables' as *;
@use '../../styles/_variables/mixins' as *;
@use 'sass:map';

$background-color: map.get($colores, dark-background-color);
$background-color-button: map.get($colores, primary-color);
$font-color: map.get($colores, font-dark-background-color);

$current-price-shadow: 1px 0 #000,
    -1px 0 #000,
    0 1px #000,
    0 -1px #000,
    1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    -1px 1px #000;

.offer-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: $offerimage-and-gameimage-width;
    height: $offerimage-and-gameimage-height;
    background-color: $background-color;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;

    h3 {
        text-decoration: underline 0.1rem #fff;
        text-align: center;
        color: $font-color;
        font-family: $primary-font-style;
        font-size: clamp(.8rem, .4rem + 2vw, 1.5rem);
        font-weight: 700;
        @include resume-game-title-two-lines;
    }
}

.offer-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.offer-info {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;

    .image {
        inset: 0;
        object-fit: contain;
        object-position: center;
    }
}

/* Prices */

.prices {
    text-align: center;
    line-height: 1.9rem;
}

.old-discount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.old-price {
    font-weight: 600;
    font-size: $offer-oldprice-discount-font-size;
    font-family: $primary-font-style;
    color: #fff;
    text-decoration: line-through 3px;
}

.discount {
    font-weight: 600;
    font-size: $offer-oldprice-discount-font-size;
    font-family: $primary-font-style;
    color: red;
}

.current-price {
    @include current-price-style(clamp(1rem, .5rem + 2vw, 1.8rem), 600, .1rem, 0rem, $primary-font-style);
    text-shadow: $current-price-shadow;
}

/* Button */

.offer-button {
    width: 50%;
    padding: 0.4rem;
    text-decoration: none;
    text-align: center;
    background-color: $background-color-button;
    color: $font-color;
    font-weight: 600;
    font-family: $primary-font-style;
    font-size: clamp(.8rem, 2vw, 1.3rem);
    border: none;
    border-radius: 2rem;

    &:hover {
        text-decoration: underline 0.1rem #fff;
    }
}

@media screen and (max-width: 1600px) {
    .offer-info {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .offer-card {
        width: $offerimage-width;
        height: $offerimage-and-gameimage-height;
    }

    .prices {
        line-height: 2.2rem;
    }

    .offer-button {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .offer-info {
        width: 35%;
    }

    .prices {
        line-height: 1.5rem;
    }

    .offer-button {
        width: 80%;
    }
}

@media screen and (max-width: 568px) {
    .offer-info {
        width: 100px;
    }

    .prices {
        line-height: 1.2rem;
    }

    .offer-button {
        width: 90%;
    }
}