@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

$font-main-color: map.get($colores, font-dark-background-color);
$lines-color: map.get($colores, dark-background-color);

$main-font: var(--font-gontSerrat);
$secondary-font: var(--font-timeless);

$good-critic: #26F160;
$regular-critic: orange;
$bad-critic: #FE392B;

.metacritic-container {
    margin-bottom: 2rem;

    h3 {
        @include secondaryTitleGamePage;
    }
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6rem;

    .points {
        font-size: clamp(1rem, .5rem + 1vw, 1.5rem);
        font-family: $main-font;
        font-weight: 500;
        padding: .6rem;
        border-radius: 1.6rem;
        color: $font-main-color;
    }
}

.good-critic {
    background-color: $good-critic;
}

.regular-critic {
    background-color: $regular-critic;
}

.bad-critic {
    background-color: $bad-critic;
}

.text-container {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;

    .text {
        font-family: var(--font-timeless);
        font-size: clamp(1rem, .5rem + 1vw, 1.3rem);
        font-weight: 600;
        color: $font-main-color;
    }
}

@media screen and (max-width: 1200px) {
    .rating {
        .points {
            padding: .5rem .6rem;
        }
    }

    .text-container {
        line-height: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .rating {
        .points {
            padding: .3rem .5rem;
        }
    }
}

@media screen and (max-width: 568px) {
    .text-container {
        line-height: 1.2rem;
    }
}