.skeleton-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skeleton-block {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(90deg,
            #e0e0e0 25%,
            #f5f5f5 37%,
            #e0e0e0 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}