@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

$offer-background-color: map.get($colores, dark-background-color);
$main-font-color: map.get($colores, font-dark-background-color);

.store-card-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: $offer-background-color;
    border-radius: 1rem;
}

.offer-info-container h3 {
    font-size: 1.2rem;
    font-family: $primary-font-style;
    font-weight: 600;
    color: $main-font-color;
}

.offer-specs {
    display: flex;
    gap: .7rem;
    font-family: $seconday-font-style;
    font-size: .9rem;
    color: $main-font-color;
}

.released-time {
    display: flex;
    gap: .3rem;
}