@use '../_variables/variables' as *;
@use '../_variables/mixins' as *;
@use 'sass:map';

$offer-background-color: map.get($colores, dark-background-color);
$main-font-color: map.get($colores, font-dark-background-color);

.stores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden-store-card {
    display: none;
}

.store-card-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: $offer-background-color;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    z-index: 2;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
}

.image {
    width: 50%;
    height: 60px;
    object-fit: contain;
}

.offer-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 1.7rem 2rem 1.7rem .7rem;
}

.offer-info-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.game-title {
    font-size: clamp(.8rem, .5rem + 1vw, 1.4rem);
    font-family: $primary-font-style;
    font-weight: 600;
    color: $main-font-color;
}

.offer-specs {
    display: flex;
    gap: .7rem;
}

.store-name {
    font-family: $seconday-font-style;
    font-size: clamp(.7rem, .4rem + 1vw, 1.2rem);
    color: $main-font-color;
    white-space: nowrap;
}

.released-time {
    display: flex;
    gap: .3rem;
}

.price-and-cta-container {
    display: flex;
    align-items: center;
    gap: .6rem;
    height: 100%;
}

.prices-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
    font-family: $primary-font-style;
    color: $main-font-color;
    font-weight: 600;
}

.discount {
    display: flex;
    align-items: center;
    background-color: map.get($colores, discount-color);
    border-radius: 1rem;
    height: 100%;
    padding: .4rem;
    font-weight: 600;
    font-size: clamp(.6rem, .5rem + 1vw, 1rem);
}

.prices {
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
}

.old-price {
    font-size: clamp(.6rem, .4rem + 1vw, 1rem);
    color: map.get($colores, secondary-color);
}

.new-price {
    font-size: clamp(.6rem, .4rem + 1vw, 1rem);
    color: map.get($colores, color-price);
}

.action-button {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0rem 1rem;
    font-family: $primary-font-style;
    font-weight: 600;
    font-size: clamp(.7rem, .4rem + 1vw, 1.2rem);
    background-color: map.get($colores, complementary-color);
    text-decoration: none;
    color: map.get($colores, font-light-background-color);
    border: none;
    border-radius: 2rem;

    &:hover {
        text-decoration: underline 2px map.get($colores, font-light-background-color);
    }
}

@include seeAllOffers(40%);

@media screen and (max-width: 1200px) {
    @include seeAllOffers(50%);
}

@media screen and (max-width: 992px) {
    @include seeAllOffers(60%);
}

@media screen and (max-width: 768px) {
    .offer-data {
        padding: 1.7rem .6rem 1.7rem .4rem;
    }

    @include seeAllOffers(70%);
}

@media screen and (max-width: 568px) {

    /* Image Container */

    .image-container {
        width: 15%;
    }

    .image {
        width: 35px;
        height: 35px;
        object-fit: cover;
    }

    /* Main Container */

    .offer-info-container {
        line-height: .8rem;
    }

    .offer-specs {
        gap: .5rem;
    }

    .price-and-cta-container {
        gap: .3rem;
    }

    .prices-container {
        gap: 0.3rem;
    }

    .discount {
        padding: .1rem;
    }

    .action-button {
        width: 60px;
        white-space: normal;
        padding: 0rem .4rem;
    }

    @include seeAllOffers(80%);
}