@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.categories-container {
    width: 100%;
    padding: $homepage-offers-padding;
    background-color: map.get($colores, dark-background-color);
}

.title {
    margin-bottom: 2rem;
    padding-left: 0rem;
    color: map.get($colores, font-dark-background-color);
    @include offers-title-typography;
    z-index: 2;
}

.category-container {
    position: relative;
    height: 250px;
    width: 94%;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
    @include offer-shadow;

    &:hover .image-character {
        transform: scale(1.06);
    }
}

.enlace-categoria {
    position: absolute;
    width: 100%;
    height: 100%;
}

.category-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    /* Compensa el "borde blureado" */
    z-index: -1;
}

.category-container.action::before {
    background-image: url('../../../resources/categories/Action/background.png');
}

.category-container.arcade::before {
    background-image: url('../../../resources/categories/Arcade/background.png');
}

.category-container.adventure::before {
    background-image: url('../../../resources/categories/Aventura/background.jpg');
}

.category-container.strategy::before {
    background-image: url('../../../resources/categories/Estrategia/background.jpg');
}

.category-container.fps::before {
    background-image: url('../../../resources/categories/FPS/background.jpg');
}

.category-container.fight::before {
    background-image: url('../../../resources/categories/Lucha/background.jpg');
}

.category-container.rpg::before {
    background-image: url('../../../resources/categories/RPG/background.webp');
}

.category-container.single-player::before {
    background-image: url('../../../resources/categories/Un_solo_jugador/background.jpg');
}

.category-container.vr::before {
    background-image: url('../../../resources/categories/VR/background.png');
}

.category-container h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    /* Puedes ajustar el valor para ubicarlo horizontalmente */
    color: map.get($colores, font-dark-background-color);
    font-size: 2rem;
    font-family: var(--font-gontSerrat);
    font-weight: 700;
    text-align: left;
    /* o 'center' si lo necesitas */
    z-index: 2;
}

.image-character-container {
    position: absolute;
    right: -70px;
    width: 100%;
    height: 100%;
}

.image-character {
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    z-index: 1;
    transform-origin: bottom left;
}