@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.list-format-offers-container {
    width: 100%;
    min-height: 600px;
    background-color: map.get($colores, dark-background-color);
    padding: $homepage-offers-padding;
    overflow: hidden;
}

.title {
    margin-bottom: 1rem;
    color: map.get($colores, font-dark-background-color);
    @include offers-title-typography($title-font-size-default, nowrap);
}

.list-offer-format-container {
    width: 90%;
}

.game-info-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    background-color: map.get($colores, primary-color);
    border-radius: 0rem 1rem 1rem 0rem;
    @include list-format-shadow;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.offer-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    background-color: #000;
    flex-shrink: 0;
}

.offer-number {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--font-gontSerrat);
    padding: 0.5rem;
    color: map.get($colores, font-dark-background-color);
}

.image-container {
    position: relative;
    height: 100%;
    width: 25%;

    background-image: url("../../../resources/loading-img/loading-list-offer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 0rem .4rem;
    width: 65%;
}

.game-title-and-extra-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: map.get($colores, font-dark-background-color);
    width: 50%;

    h3 {
        font-size: 1rem;
        width: 100%;
        font-weight: 600;
        font-family: var(--font-gontSerrat);
        margin-bottom: 0rem;
        @include resume-game-title;
    }

    p {
        font-size: .8rem;
        font-family: var(--font-timeless);
        margin-bottom: 0rem;
    }
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.prices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .8rem;
    line-height: 1.2rem
}

.old-price {
    @include cancelled-price(.8rem, 600);
}

.current-price {
    @include current-price-style(1.1rem, 500, 3px, 0rem, var(--font-gontSerrat));
}

.discount-container {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        @include discount-style(.4rem .3rem, 700, 1.2rem, var(--font-gontSerrat));
        border-radius: 1rem;
    }
}

.button-title {
    width: 100%;
    padding: 0rem;
    margin-bottom: 1.2rem;
    background-color: transparent;
    border: none;
}

.select-offers-container {
    display: flex;
    align-items: center;
}

.active {
    text-decoration: 2px map.get($colores, secondary-color) solid underline;
    color: map.get($colores, secondary-color);
}

.details {
    display: flex;
    justify-content: space-between;
}

.prices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discount-container span {
    @include discount-style(.4rem .3rem, 700, 1rem, var(--font-gontSerrat));
    border-radius: 1rem;
}

.offer-number-container {
    height: 100%;
}

/* Extra Large Media */
@media screen and (max-width: 1500px) {
    .title {
        @include offers-title-typography(1.3rem, nowrap);
    }

    .list-format-offers-container {
        padding: $homepage-xl-offers-padding;
    }

    .list-offer-format-container {
        width: 95%;
    }

    .offer-number-container {
        width: 7%;
    }

    .offer-number {
        font-size: 1.1rem;
        padding: 0.3rem;
    }

    .image-container {
        width: 20%;
    }

    .details {
        padding: 0rem .4rem;
        width: 73%;
    }

    .game-title-and-extra-info h3 {
        font-size: .9rem;
    }

    .prices-container {
        margin-right: .6rem;
        line-height: 1rem;
    }

    .old-price {
        @include cancelled-price(.7rem, 600);
    }

    .current-price {
        @include current-price-style(.9rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }
}

/* Large Media */
@media screen and (max-width: 1200px) {
    .title {
        @include offers-title-typography(1.4rem, nowrap);
    }

    .game-title-and-extra-info h3 {
        font-size: .8rem;
    }
}

/* Medium Media */
@media screen and (max-width: 992px) {
    .list-format-offers-container {
        padding: $homepage-lg-offers-padding;
    }

    .list-offer-format-container {
        width: 80%;
    }

    .select-offers-container {
        justify-content: space-evenly;
    }

    .select-offer {
        @include offers-title-typography(1.2rem, nowrap);
        margin-bottom: 0rem;
        color: map.get($colores, font-dark-background-color);
        width: auto;
    }

    .active {
        color: map.get($colores, secondary-color);
    }

    .divisor-line {
        width: 3px;
        height: 30px;
        background-color: map.get($colores, font-dark-background-color);
    }

    .offer-number {
        font-size: 1.2rem;
        padding: 0.2rem;
    }

    .details {
        padding: 0rem .6rem;
    }

    .game-title-and-extra-info h3 {
        font-size: 1rem;
    }

    .prices-container {
        margin-right: .8rem;
        line-height: 1.2rem;
    }

    .current-price {
        @include current-price-style(1rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }
}

/* Small Media */
@media screen and (max-width: 768px) {
    .list-format-offers-container {
        padding: $homepage-sm-offers-padding;
    }

    .select-offers-container {
        flex-direction: column;
        gap: 10px;
    }

    .select-offer {
        font-size: $title-font-size-sm;
    }

    .divisor-line {
        width: 80%;
        height: 3px;
    }
}

/* Extra Small Media */
@media screen and (max-width: 568px) {

    .list-format-offers-container {
        min-height: 400px;
    }

    .title {
        @include offers-title-typography($title-font-size-default, normal);
    }

    .game-info-container {
        height: 50px;
    }

    .list-offer-format-container {
        width: 100%;
    }

    .select-offer {
        @include offers-title-typography(.8rem, nowrap);
    }

    .offer-number-container {
        width: 6%;
    }

    .offer-number {
        font-size: 1rem;
        padding: 0.1rem;
    }

    .image-container {
        width: 18%;
    }

    .details {
        width: 75%;
    }

    .game-title-and-extra-info h3 {
        font-size: .8rem;
    }

    .prices-container {
        margin-right: .4rem;
        line-height: .9rem;
    }

    .old-price {
        @include cancelled-price(.5rem, 600);
    }

    .current-price {
        @include current-price-style(.8rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    .discount-container span {
        @include discount-style(.3rem .3rem, 700, .9rem, var(--font-gontSerrat));
    }
}

/* 400px and below */
@media screen and (max-width: 400px) {
    .title {
        @include offers-title-typography($title-font-size-default, normal);
    }

    .offer-number-container {
        width: 5%;
    }

    .offer-number {
        font-size: .8rem;
    }

    .details {
        padding: 0rem .3rem;
    }

    .game-title-and-extra-info h3 {
        font-size: .7rem;
    }

    .prices-container {
        line-height: .7rem;
    }

    .old-price {
        @include cancelled-price(.4rem, 600);
    }

    .current-price {
        @include current-price-style(.7rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    .discount-container span {
        @include discount-style(.3rem .3rem, 700, .8rem, var(--font-gontSerrat));
    }
}