@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;

.list-format-offers-container {
    width: 100%;
    background-color: map-get($colores, dark-background-color);
    padding: $homepage-offers-padding;
}

.title {
    margin-bottom: 1rem;
    color: map-get($colores, font-dark-background-color);
    @include offers-title-typography;
}

.list-offer-format-container {
    width: 90%;
}

.game-info-container {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    background-color: map-get($colores, primary-color);
    border-radius: 0rem 1rem 1rem 0rem;
}

.offer-number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    background-color: #000;
    flex-shrink: 0;
}

.offer-number {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--font-gontSerrat);
    padding: 1rem;
    color: map-get($colores, font-dark-background-color);
}

.image-container {
    position: relative;
    height: 100%;
    width: 180px;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 0rem .7rem;
    width: 100%;
}

.game-title-and-extra-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: map-get($colores, font-dark-background-color);

    h3 {
        font-size: 1.1rem;
        font-weight: 600;
        font-family: var(--font-gontSerrat);
        margin-bottom: 0rem;
    }

    p {
        font-size: .8rem;
        font-family: var(--font-timeless);
        margin-bottom: 0rem;
    }
}

.prices {
    display: flex;
    flex-direction: row;
}

.prices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .8rem;
    line-height: 1.2rem
}

.old-price {
    @include cancelled-price(1.1rem, 600);
}

.current-price {
    @include current-price-style(1.1rem, 500, 3px, 0rem, var(--font-gontSerrat));
}

.discount-container {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        @include discount-style(.4rem .3rem, 700, 1.4rem, var(--font-gontSerrat));
        border-radius: 1rem;
    }
}