@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.main-offer-container {
    height: 540px;
    position: relative;
}

.click-overlay {
    position: absolute;
    inset: 0;
    z-index: 4;
}

.main-header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 2;
}

.offer {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 5;
}

.offer-title {
    color: map.get($colores, font-dark-background-color);
    font-family: var(--font-gontSerrat);
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    text-shadow: $title-shadow;
    @include resume-game-title-two-lines;
}

.price-container {
    display: flex;
    align-items: center;
}

.discount {
    @include discount-style(.5rem, 600, 1.8rem, var(--font-gontSerrat));
    box-shadow: 17px 0px 72px -11px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 17px 0px 72px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 17px 0px 72px -11px rgba(0, 0, 0, 1);
}

.current-price {
    @include current-price-style(2.4rem, 700, 2px, 1rem, var(--font-gontSerrat));
    text-shadow: $title-shadow;
}

@media screen and (max-width: 1200px) {
    .main-offer-container {
        height: 490px;
    }

    .offer {
        left: 9%;
    }

    .offer-title {
        font-size: 2.4rem;
    }

    .discount {
        @include discount-style(.5rem, 600, 1.7rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(2.2rem, 700, 2px, .7 rem, var(--font-gontSerrat));
    }
}

@media screen and (max-width: 992px) {
    .main-offer-container {
        height: 460px;
    }

    .offer {
        left: 8%;
    }

    .offer-title {
        font-size: 2.2rem;
        margin-bottom: .5rem;
    }

    .discount {
        @include discount-style(.5rem, 600, 1.5rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(2rem, 700, 2px, .5rem, var(--font-gontSerrat));
    }
}

@media screen and (max-width: 768px) {
    .main-offer-container {
        height: 420px;
    }

    .offer {
        left: 5%;
    }

    .offer-title {
        font-size: 2rem;
    }

    .discount {
        @include discount-style(.5rem, 600, 1.4rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.8rem, 700, 2px, .5rem, var(--font-gontSerrat));
    }
}

@media screen and (max-width: 568px) {
    .main-offer-container {
        height: 340px;
    }

    .offer {
        left: 5%;
    }

    .offer-title {
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    .discount {
        @include discount-style(.3rem, 600, 1.2rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.5rem, 700, 2px, .5rem, var(--font-gontSerrat));
    }
}