@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.main-offer-container {
    height: 540px;
    position: relative;
}

.click-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    text-indent: -9999px;
}

.main-header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.offer {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.offer-title {
    color: map.get($colores, font-dark-background-color);
    font-family: var(--font-gontSerrat);
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.price-container {
    display: flex;
    align-items: center;
}

.discount {
   @include discount-style(.5rem, 600, 1.8rem, var(--font-gontSerrat));
}

.current-price {
    @include current-price-style(2.4rem, 700, 2px, 1rem, var(--font-gontSerrat));
}
