@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

// Variables locales para evitar repetición
$card-transition: transform 0.3s ease;
$card-hover-scale: scale(1.03);
$primary-bg: map.get($colores, primary-color);
$complementary-bg: map.get($colores, complementary-color);
$platform-bg: map.get($colores, platform-color);
$font-dark: map.get($colores, font-dark-background-color);

.most-popular-offer-container {
    width: 100%;
    min-height: 900px;
    background-color: $complementary-bg;
    padding: $homepage-offers-padding;
}

.title {
    margin-bottom: 2rem;
    color: $font-dark;
    @include offers-title-typography($title-font-size-default, nowrap);
}

.offers-container {
    width: 100%;
}

.secondary-container {
    height: 350px;
}

// Clase base para gamecard offers
%gamecard-base {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    @include offer-shadow;
    transition: $card-transition;

    &:hover {
        transform: $card-hover-scale;
    }
}

.main-gamecard-offer {
    @extend %gamecard-base;
    height: 350px;
    width: 100%;
}

.secondary-gamecard-offer {
    @extend %gamecard-base;
    width: 100%;
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gameimage-container {
    width: 100%;
    height: 65%;
    position: relative;
    background-image: url("../../../resources/loading-img/loading-offer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gameinfo-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    background-color: $primary-bg;
    overflow: hidden;
}

.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 100%;
    background-color: $platform-bg;
}

// Clase base para price containers

.price-offerorigin-container {
    width: 100%;
    height: 65%;
    padding: 1rem;
}

.secondary-price-offerorigin-container {
    width: 100%;
    height: 65%;
    padding: 0rem .7rem;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.offer-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}

// Clase base para prices
%prices-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prices {
    @extend %prices-base;
    margin-left: .6rem;
    line-height: 1.6rem;
}

.secondary-prices {
    @extend %prices-base;
    margin-left: .5rem;
    line-height: .85rem;
}

// Estilos de precios principales

.discount {
    @include discount-style(.4rem, 500, 1.4rem, var(--font-gontSerrat));
    margin-bottom: 0rem;
}

.current-price {
    @include current-price-style(1.5rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.last-price {
    @include cancelled-price(1.1rem, 500);
}

// Estilos de precios secundarios
.secondary-discount {
    display: flex;
    justify-content: center;
    align-items: center;
    @include discount-style(0.1rem, 500, .9rem, var(--font-gontSerrat));
    margin-bottom: 0rem;
}

.secondary-current-price {
    @include current-price-style(1rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.secondary-last-price {
    @include cancelled-price(.6rem, 500);
}

// Clase base para títulos de juegos
%game-title-base {
    color: $font-dark;
    margin-bottom: 0rem;
    z-index: 2;
    @include resume-game-title;
}

.main-game-title {
    @extend %game-title-base;
    max-width: 80%;
    font-size: 1rem;
    font-weight: 500;
}

.secondary-game-title {
    @extend %game-title-base;
    font-size: 0.8rem;
    max-width: 80%;
    font-weight: 500;
}

// Clase base para web offers
%web-offer-base {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    right: 0px;
}

.web-offer {
    @extend %web-offer-base;
    min-width: 80px;
    min-height: 50px;

    img {
        width: auto;
        height: 100%;
    }
}

.secondary-web-offer {
    @extend %web-offer-base;
    min-width: 60px;
    min-height: 40px;

    img {
        width: auto;
        height: 60%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    padding: 0;

    button {
        min-width: 220px;
        min-height: 70px;
        border: none;
        background-color: $primary-bg;
        color: $font-dark;
        padding: 1rem;
        font-weight: 700;
        font-family: var(--font-gontSerrat);
        font-size: 1.4rem;
        text-transform: uppercase;
        @include button-shadow-homepage;

        &:hover {
            text-decoration: $default-text-decoration;
        }
    }
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .most-popular-offer-container {
        padding: $homepage-xl-offers-padding;
    }

    .title {
        @include offers-title-typography($title-font-size-xl, nowrap);
    }

    .prices {
        margin-left: .6rem;
        line-height: 1.2rem;
    }

    .discount {
        @include discount-style(.5rem, 500, 1.2rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.1rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .last-price {
        @include cancelled-price(.8rem, 500);
    }

    .secondary-prices {
        line-height: .6rem;
    }

    .secondary-current-price {
        @include current-price-style(.8rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(.5rem, 500);
    }

    .secondary-discount {
        @include discount-style(.3rem, 600, .6rem, var(--font-gontSerrat));
    }
}

@media screen and (max-width: 992px) {
    .most-popular-offer-container {
        padding: $homepage-lg-offers-padding;
    }

    .title {
        @include offers-title-typography($title-font-size-md, nowrap);
    }

    .secondary-container {
        height: 725px;
    }

    .secondary-gamecard-offer {
        height: 350px;
    }

    .secondary-prices {
        line-height: 1.2rem;
    }

    .secondary-current-price {
        @include current-price-style(1.1rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(.8rem, 500);
    }

    .secondary-discount {
        @include discount-style(.5rem, 600, 1.2rem, var(--font-gontSerrat));
    }
}

@media screen and (max-width: 768px) {
    .main-gamecard-offer {
        width: 100%;
    }

    .title {
        margin-bottom: 1.4rem;
        @include offers-title-typography($title-font-size-sm, nowrap);
    }

    .button-container button {
        font-size: 1.3rem;
        padding: 0.7rem 2rem;
    }

    .secondary-container {
        height: 1500px;
    }
}

@media screen and (max-width: 568px) {
    .title {
        margin-bottom: 1.2rem;
        @include offers-title-typography($title-font-size-xsm, normal); // Cambiado a 'normal' para permitir saltos de línea
    }

    .most-popular-offer-container {
        padding: $homepage-sm-offers-padding;
    }

    .gameimage-container {
        height: 70%;
    }

    .gameinfo-container {
        height: 30%;
    }

    .main-game-title {
        font-size: 1rem;
    }

    .prices {
        line-height: 1.3rem;
        margin-left: .5rem;
    }

    .discount {
        @include discount-style(.5rem, 500, 1.4rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.4rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .last-price {
        @include cancelled-price(1rem, 500);
    }

    .secondary-price-offerorigin-container {
        padding: 0.5rem;
    }

    .secondary-prices {
        line-height: 1.3rem;
    }

    .secondary-current-price {
        @include current-price-style(1.4rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(1rem, 500);
    }

    .secondary-discount {
        @include discount-style(.5rem, 500, 1.4rem, var(--font-gontSerrat));
    }

    .secondary-web-offer {
        img {
            height: 80%;
        }
    }

    .web-offer {
        img {
            height: 80%;
        }
    }

    .button-container button {
        font-size: 1.1rem;
        padding: 0.5rem 1.7rem;
    }
}

@media screen and (max-width: 500px) {
    .title {
        @include offers-title-typography($title-font-size-xsm, normal); // Mantiene 'normal'
    }

    .secondary-prices {
        margin-left: .3rem;
    }
}

@media screen and (max-width: 400px) {
    .title {
        @include offers-title-typography($title-font-size-xsm, normal); // Mantiene 'normal'
    }

    .secondary-prices {
        margin-left: .3rem;
    }

    .secondary-web-offer {
        width: 25px;
    }
}

@media screen and (max-width: 350px) {
    .title {
        @include offers-title-typography($title-font-size-xsm, normal); // Mantiene 'normal'
    }

    .prices {
        margin-left: .3rem;
    }

    .discount {
        @include discount-style(.5rem, 500, 1.2rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.1rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .last-price {
        @include cancelled-price(.8rem, 500);
    }

    .secondary-current-price {
        @include current-price-style(1.1rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(.8rem, 500);
    }

    .secondary-discount {
        @include discount-style(.5rem, 500, 1.2rem, var(--font-gontSerrat));
    }

    .secondary-web-offer {
        width: 20px;
    }
}