@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

// Variables locales para evitar repetición
$card-transition: transform 0.3s ease;
$card-hover-scale: scale(1.03);
$primary-bg: map.get($colores, primary-color);
$complementary-bg: map.get($colores, complementary-color);
$platform-bg: map.get($colores, platform-color);
$font-dark: map.get($colores, font-dark-background-color);

.most-popular-offer-container {
    width: 100%;
    min-height: 900px;
    background-color: $complementary-bg;
    padding: $homepage-offers-padding;
}

.title {
    margin-bottom: 2rem;
    color: $font-dark;
    @include offers-title-typography($title-font-size-default, nowrap);
}

.offers-container {
    width: 100%;
}

.first-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 450px;
}

// Clase base para gamecard offers
%gamecard-base {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    @include offer-shadow;
    transition: $card-transition;

    &:hover {
        transform: $card-hover-scale;
    }
}

.main-gamecard-offer {
    @extend %gamecard-base;
    width: calc(50% - 25px);
}

.secondary-gamecard-offer {
    @extend %gamecard-base;
    width: calc(50% - 10px);
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pairs-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .7rem;
    height: 100%;
}

.gameimage-container {
    width: 100%;
    height: 65%;
    position: relative;
    background-image: url("../../../resources/loading-img/loading-offer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gameinfo-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    background-color: $primary-bg;
    overflow: hidden;
}

.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: $platform-bg;
}

// Clase base para price containers

.price-offerorigin-container {
    width: 100%;
    height: 65%;
    padding: 1rem;
}

.secondary-price-offerorigin-container {
    width: 100%;
    height: 65%;
    padding: 0.8rem;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.offer-container {
    display: flex;
    flex-direction: row;
}

// Clase base para prices
%prices-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prices {
    @extend %prices-base;
    margin-left: 1rem;
    line-height: 2rem;
}

.secondary-prices {
    @extend %prices-base;
    margin-left: .5rem;
    line-height: 1.1rem;
}

// Estilos de precios principales

.discount {
    @include discount-style(.7rem, 500, 1.8rem, var(--font-gontSerrat));
}

.current-price {
    @include current-price-style(2rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.last-price {
    @include cancelled-price(1.4rem, 500);
}

// Estilos de precios secundarios
.secondary-discount {
    @include discount-style(.2rem, 500, 1.2rem, var(--font-gontSerrat));
}

.secondary-current-price {
    @include current-price-style(1.2rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.secondary-last-price {
    @include cancelled-price(.8rem, 500);
}

// Clase base para títulos de juegos
%game-title-base {
    color: $font-dark;
    margin-bottom: 0rem;
    z-index: 2;
    @include resume-game-title;
}

.main-game-title {
    @extend %game-title-base;
    max-width: 70%;
    margin-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.secondary-game-title {
    @extend %game-title-base;
    font-size: 1rem;
    max-width: 70%;
    margin-left: 0.5rem;
    font-weight: 500;
}

.list-info-container-title {
    @extend %game-title-base;
    font-size: 1rem;
    max-width: 70%;
    margin-left: 0.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Clase base para icon containers
%icon-container-base {
    position: relative;
}

.icon-container {
    @extend %icon-container-base;
    width: 35px;
    height: 35px;
}

.secondary-icon-container {
    @extend %icon-container-base;
    width: 17px;
    height: 17px;
}

// Clase base para web offers
%web-offer-base {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.web-offer {
    @extend %web-offer-base;
    width: 120px;
    height: 80px;

    img {
        width: 60%;
        height: 100%;
    }
}

.secondary-web-offer {
    @extend %web-offer-base;
    width: 35px;

    img {
        width: 85%;
        height: 100%;
    }
}

.pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.rest-of-the-offers-container {
    position: relative;
    height: 260px;
    width: 95%;
    @include offer-shadow;
    transition: $card-transition;

    &:hover {
        transform: $card-hover-scale;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px; 
    padding: 0;

    button {
        min-width: 220px; 
        min-height: 70px; 
        border: none;
        background-color: $primary-bg;
        color: $font-dark;
        padding: 1rem;
        font-weight: 700;
        font-family: var(--font-gontSerrat);
        font-size: 1.4rem;
        text-transform: uppercase;
        @include button-shadow-homepage;

        &:hover {
            text-decoration: $default-text-decoration;
        }
    }
}


/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .most-popular-offer-container {
        padding: $homepage-xl-offers-padding;
    }

    .title {
        @include offers-title-typography($title-font-size-xl, nowrap);
    }

    .prices {
        line-height: 1.6rem;
    }

    .discount {
        @include discount-style(.7rem, 500, 1.5rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.7rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .last-price {
        @include cancelled-price(1.2rem, 500);
    }

    .secondary-prices {
        line-height: .9rem;
    }

    .secondary-current-price {
        @include current-price-style(1rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(.6rem, 500);
    }

    .secondary-discount {
        @include discount-style(.2rem, 500, 1rem, var(--font-gontSerrat));
    }
}

@media screen and (max-width: 992px) {
    .most-popular-offer-container {
        padding: $homepage-lg-offers-padding;
    }

    .title {
        @include offers-title-typography($title-font-size-md, nowrap);
    }

    .main-gamecard-offer {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 768px) {
    .main-gamecard-offer {
        width: 100%;
    }

    .title {
        margin-bottom: 1.4rem;
        @include offers-title-typography($title-font-size-sm, nowrap);
    }

    .button-container button {
        font-size: 1.3rem;
        padding: 0.7rem 2rem;
    }
}

@media screen and (max-width: 568px) {
    .title {
        margin-bottom: 1.2rem;
        @include offers-title-typography($title-font-size-xsm, normal); // Cambiado a 'normal' para permitir saltos de línea
    }

    .most-popular-offer-container {
        padding: $homepage-sm-offers-padding;
    }

    .gameimage-container {
        height: 70%;
    }

    .gameinfo-container {
        height: 30%;
    }

    .main-game-title {
        font-size: 1rem;
    }

    .prices {
        line-height: 1.3rem;
        margin-left: .5rem;
    }

    .discount {
        @include discount-style(.5rem, 500, 1.4rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.4rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .last-price {
        @include cancelled-price(1rem, 500);
    }

    .list-info-container-title {
        font-size: .6rem;
    }

    .secondary-price-offerorigin-container {
        padding: 0.5rem;
    }

    .secondary-prices {
        line-height: .7rem;
    }

    .secondary-current-price {
        @include current-price-style(.9rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(.5rem, 600);
    }

    .secondary-discount {
        @include discount-style(.2rem, 600, .9rem, var(--font-gontSerrat));
    }

    .secondary-web-offer {
        width: 25px;
    }

    .web-offer {
        @extend %web-offer-base;
        width: 90px;
        height: 50px;

        img {
            width: 60%;
            height: 100%;
        }
    }

    .button-container button {
        font-size: 1.1rem;
        padding: 0.5rem 1.7rem;
    }
}

@media screen and (max-width: 500px) {
    .title {
        @include offers-title-typography($title-font-size-xsm, normal); // Mantiene 'normal'
    }

    .secondary-prices {
        margin-left: .3rem;
        line-height: .8rem;
    }
}

@media screen and (max-width: 400px) {
    .title {
        @include offers-title-typography($title-font-size-xsm, normal); // Mantiene 'normal'
    }

    .secondary-prices {
        margin-left: .3rem;
        line-height: .6rem;
    }

    .secondary-current-price {
        @include current-price-style(.7rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(.4rem, 600);
    }

    .secondary-discount {
        @include discount-style(.1rem, 600, .7rem, var(--font-gontSerrat));
    }

    .secondary-web-offer {
        width: 25px;
    }
}

@media screen and (max-width: 350px) {
    .title {
        @include offers-title-typography($title-font-size-xsm, normal); // Mantiene 'normal'
    }

    .prices {
        margin-left: .3rem;
        line-height: 1.2rem;
    }

    .discount {
        @include discount-style(.5rem, 500, 1.2rem, var(--font-gontSerrat));
    }

    .current-price {
        @include current-price-style(1.1rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    .last-price {
        @include cancelled-price(.8rem, 500);
    }

    .secondary-prices {
        line-height: .6rem;
    }

    .secondary-current-price {
        @include current-price-style(.5rem, 600, 3px, 0rem, var(--font-gontSerrat));
    }

    .secondary-last-price {
        @include cancelled-price(.3rem, 600);
    }

    .secondary-discount {
        @include discount-style(.1rem, 600, .7rem, var(--font-gontSerrat));
    }

    .secondary-web-offer {
        width: 20px;
    }
}