@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.most-popular-offer-container {
    background-color: map.get($colores, complementary-color);
    padding: $homepage-offers-padding;
}

.title {
    margin-bottom: 2rem;
    color: map.get($colores, font-dark-background-color);
    @include offers-title-typography;
}

.offers-container {
    width: 100%;
}

.first-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 450px;
}

.main-gamecard-offer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(50% - 25px);
    height: 100%;
    @include offer-shadow;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pairs-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .7rem;
    height: 100%;
}

.gameimage-container {
    width: 100%;
    height: 65%;
    position: relative;

    background-image: url("../../../resources/loading-img/loading-offer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gameinfo-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    background-color: map.get($colores, primary-color);
    overflow: hidden;
}

.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: map.get($colores, platform-color)
}

.price-offerorigin-container {
    padding: 1rem;
    width: 100%;
    height: 65%;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.offer-container {
    display: flex;
    flex-direction: row;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    line-height: 2rem
}

.discount {
    @include discount-style(.7rem, 500, 1.8rem, var(--font-gontSerrat));
}

.current-price {
    @include current-price-style(2rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.last-price {
    @include cancelled-price(1.4rem, 500);
}

.main-game-title {
    max-width: 70%;
    margin-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: map.get($colores, font-dark-background-color);
    margin-bottom: 0rem;
    @include resume-game-title;
}

.secondary-game-title {
    font-size: 1rem;
    @extend .main-game-title;
    @include resume-game-title;
}

.list-info-container-title {
    font-size: 1rem;
    @extend .main-game-title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-container {
    position: relative;
    width: 35px;
    height: 35px;
}

.web-offer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 120px;
    height: 80px;
}

.web-offer img {
    width: 60%;
    height: 100%;
}

.secondary-web-offer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35px;
    height: 100%;
}

.secondary-web-offer img {
    width: 85%;
    height: 100%;
}

/* Secondary Cards */

.secondary-gamecard-offer {
    width: calc(50% - 10px);
    @extend .main-gamecard-offer;
    @include offer-shadow;
}

.pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.secondary-prices {
    @extend .prices;
    margin-left: .5rem;
    line-height: 1.2rem
}

.secondary-icon-container {
    position: relative;
    width: 17px;
    height: 17px;
}

.secondary-discount {
    @include discount-style(.2rem, 500, 1.2rem, var(--font-gontSerrat));
}

.secondary-current-price {
    @include current-price-style(1.2rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.secondary-last-price {
    @include cancelled-price(.8rem, 500);
}

.secondary-price-offerorigin-container {
    padding: 0.8rem;
    @extend .price-offerorigin-container;
}

/* Rest of the list */

.rest-of-the-offers-container {
    position: relative;
    height: 260px;
    width: 95%;
    @include offer-shadow;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem;
}

.button-container button {
    border: none;
    background-color: map.get($colores, primary-color);
    color: map.get($colores, font-dark-background-color);
    font-weight: 700;
    font-family: var(--font-gontSerrat);
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    @include button-shadow-homepage;

    &:hover {
        text-decoration: $default-text-decoration;
    }
}

/* Responsive Styles */

@media screen and (max-width: 1200px) {
    .most-popular-offer-container {
        background-color: map.get($colores, complementary-color);
        padding: $homepage-xl-offers-padding;
    }

    /* Main Card */

    /* Prices */
    .prices {
        line-height: 1.6rem
    }

    /* Main Discount */
    .discount {
        @include discount-style(.7rem, 500, 1.5rem, var(--font-gontSerrat));
    }

    /* Main Current Price */
    .current-price {
        @include current-price-style(1.7rem, 400, 3px, 0rem, var(--font-gontSerrat));
    }

    /* Main Last Price */
    .last-price {
        @include cancelled-price(1.2rem, 500);
    }

    /* Secondary Card */

    /* Prices */
    .secondary-prices {
        line-height: 1rem;
    }

    /* Current Price */
    .secondary-current-price {
        @include current-price-style(1rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    /* Last Price */
    .secondary-last-price {
        @include cancelled-price(.6rem, 500);
    }

    /* Discount */
    .secondary-discount {
        @include discount-style(.2rem, 500, 1rem, var(--font-gontSerrat));
    }
}

@media screen and (max-width: 992px) {
    .most-popular-offer-container {
        background-color: map.get($colores, complementary-color);
        padding: $homepage-lg-offers-padding;
    }

    .main-gamecard-offer {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 768px) {
    .main-gamecard-offer {
        width: 100%;
    }

    .button-container button {
        font-weight: 700;
        font-size: 1.3rem;
        padding: 0.7rem 2rem;
    }
}

@media screen and (max-width: 568px) {

    /* Most Popular Offer */

    .most-popular-offer-container {
        padding: $homepage-sm-offers-padding;
    }

    /* Secondary Card */

    /* Prices */
    .secondary-prices {
        line-height: .9rem;
    }

    /* Current Price */
    .secondary-current-price {
        @include current-price-style(.9rem, 500, 3px, 0rem, var(--font-gontSerrat));
    }

    /* Last Price */
    .secondary-last-price {
        @include cancelled-price(.5rem, 600);
    }

    /* Discount */
    .secondary-discount {
        @include discount-style(.2rem, 600, .9rem, var(--font-gontSerrat));
    }

    /* Web Offer */
    .secondary-web-offer {
        width: 25px;
        height: 100%;
    }

    .rest-of-the-offers-container {
        width: 95%;
    }

    /* Button */

    .button-container button {
        font-weight: 700;
        font-size: 1.1rem;
        padding: 0.5rem 1.7rem;
    }
}