@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.most-popular-offer-container {
    background-color: map.get($colores, complementary-color);
    padding: $homepage-offers-padding;
}

.title {
    margin-bottom: 1rem;
    color: map.get($colores, font-dark-background-color);
    @include offers-title-typography;
}

.offers-container {
    width: 100%;
}

.first-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 450px;
}

.main-gamecard-offer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(50% - 25px);
    height: 100%;
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pairs-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .7rem;
    height: 100%;
}

.gameimage-container {
    width: 100%;
    height: 65%;
    position: relative;

    background-image: url("../../../resources/loading-img/loading-offer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gameinfo-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    width: 100%;
    background-color: map.get($colores, primary-color);
}

.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: map.get($colores, platform-color)
}

.price-offerorigin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
    width: 100%;
    height: 65%;
}

.offer-container {
    display: flex;
    flex-direction: row;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    line-height: 2rem
}

.discount {
    @include discount-style(.7rem, 500, 1.8rem, var(--font-gontSerrat));
}

.current-price {
    @include current-price-style(2rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.last-price {
    @include cancelled-price(1.4rem, 500);
}

.main-game-title {
    margin-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: map.get($colores, font-dark-background-color);
    margin-bottom: 0rem;
}

.secondary-game-title {
    font-size: 1rem;
    @extend .main-game-title;

}

.list-info-container-title {
    font-size: 1rem;
    @extend .main-game-title;
}

.icon-container {
    position: relative;
    width: 35px;
    height: 35px;
}

.web-offer {
    position: relative;
    width: 45px;
    height: 45px;
}

/* Secondary Cards */

.secondary-gamecard-offer {
    width: calc(50% - 10px);
    @extend .main-gamecard-offer;
}

.pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.secondary-prices {
    @extend .prices;
    margin-left: .5rem;
    line-height: 1.2rem
}

.secondary-icon-container {
    position: relative;
    width: 17px;
    height: 17px;
}

.secondary-discount {
    display: flex;
    align-items: center;
    @include discount-style(.2rem, 500, 1.2rem, var(--font-gontSerrat));
}

.secondary-current-price {
    @include current-price-style(1.2rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.secondary-last-price {
    @include cancelled-price(.8rem, 500);
}

.secondary-web-offer {
    position: relative;
    width: 35px;
    height: 35px;
}

.web-offer img {
    width: 100%;
    height: 100%;
}

.secondary-price-offerorigin-container {
    padding: 0.8rem;
    @extend .price-offerorigin-container;
}

.web-offer {
    position: relative;
    width: 120px;
    height: 80px;
}

.web-offer img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

/* Rest of the list */

.rest-of-the-offers-container {
    height: 260px;
    width: 95%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem;
}

.button-container button {
    border: none;
    background-color: map.get($colores, primary-color);
    color: map.get($colores, font-dark-background-color);
    font-weight: 700;
    font-family: var(--font-gontSerrat);
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1rem 2.5rem;

    &:hover {
        text-decoration: $default-text-decoration;
    }
}