@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;

.new-offers-main-container {
    width: 100%;
    background-color: map-get($colores, dark-background-color);
    padding: $homepage-offers-padding;
}

.title {
    margin-bottom: 1rem;
    color: map-get($colores, font-dark-background-color);
    @include offers-title-typography;
}

.vertical-card-container {
    height: 450px;
    background-color: black;
}

.info-container {
    padding: 1rem;
    background-color: map-get($colores, primary-color);
    height: 30%;
}

.game-title {
    font-family: var(--font-timeless);
    font-weight: 600;
    font-size: 1.1rem;
    color: map-get($colores, font-dark-background-color);
    margin-bottom: 1.2rem;
}

.divisor-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divisor-line {
    width: 100%;
    height: 5px;
    background-color: map-get($colores, font-dark-background-color);
}

.divisor-line-container {
    margin-bottom: 20px;
}

.current-price {
    @include current-price-style(1.3rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.price-and-platform-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-offer {
    position: relative;
    width: 40px;
    height: 40px;
}

.image-container {
    position: relative;
    height: 70%;
    width: 100%;
}

.platform-discount-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 1rem;
    width: 100%;
    bottom: 10px;

    i {
        font-size: 1.8rem;
        color: map-get($colores , font-dark-background-color);
    }

    span {
        @include discount-style(0.2rem 1rem, 600, 1.3rem, var(--font-gontSerrat));
        border-radius: 1rem;
        color: map-get($colores , font-dark-background-color);
    }
}