@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.reviews-container {
    width: 100%;
    background-color: map.get($colores, complementary-color);
    padding: $homepage-offers-padding;
}

.review-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    width: 97%;
    background-color: map.get($colores, dark-background-color);
    border-radius: 20px;
    padding: 2rem 1.4rem;
}

.image-container {
    position: relative;
    width: 60px;
    height: 60px;
}

.profile-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .user-info {
        display: flex;
        flex-direction: column;
        margin-left: .7rem;
    }
}

.user-info h3 {
    font-family: var(--font-gontSerrat);
    font-size: 1.2rem;
    color: map.get($colores, font-dark-background-color);
    margin-bottom: 0rem;
}

.rating-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.2rem;

    i {
        color: #EEFF04;
    }
}

.description {
    color: map.get($colores, font-dark-background-color);
    font-family: var(--font-timeless);
    font-weight: 500;
}

.published-time {
    font-family: var(--font-gontSerrat);
    font-size: 1.1rem;
    font-weight: 600;
    color: map.get($colores, font-dark-background-color);
}