@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.new-offers-main-container {
    width: 100%;
    background-color: map.get($colores, dark-background-color);
    padding: $homepage-offers-padding;
}

.aged-like-wine-offers-main-container {
    @extend .new-offers-main-container;
    background-color: map.get($colores, complementary-color);
}

.title {
    margin-bottom: 1rem;
    color: map.get($colores, font-dark-background-color);
    @include offers-title-typography($title-font-size-default);
}

.vertical-card-container {
    position: relative;
    height: 550px;
    background-color: black;
    overflow: hidden;
    @include offer-shadow;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: map.get($colores, primary-color);
    height: 30%;
    padding: 0rem 1rem;
    max-width: 100%;
}

.game-title {
    width: 100%;
    font-family: var(--font-timeless);
    font-weight: 600;
    @include resume-game-title;
    font-size: 1.1rem;
    color: map.get($colores, font-dark-background-color);
    z-index: 2;

}

.divisor-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divisor-line {
    width: 100%;
    height: 5px;
    background-color: map.get($colores, font-dark-background-color);
}

.prices-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    gap: -1rem;
}

.current-price {
    @include current-price-style(1.3rem, 400, 3px, 0rem, var(--font-gontSerrat));
}

.regular-price {
    @include cancelled-price(.8rem, 500);
}

.price-and-platform-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-offer {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.web-offer img {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.image-container {
    position: relative;
    object-fit: contain;
    height: 70%;
    width: 100%;

    background-image: url("../../../resources/loading-img/loading-offer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.platform-discount-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem 1rem;
    width: 100%;
    bottom: 10px;

    i {
        font-size: 1.5rem;
        background-color: map.get($colores, primary-color);
        padding: .3rem .8rem;
        border-radius: 4rem;
        color: map.get($colores , font-dark-background-color);
    }

    span {
        @include discount-style(0.2rem 1rem, 600, 1.2rem, var(--font-gontSerrat));
        border-radius: 1rem;
        color: map.get($colores , font-dark-background-color);
    }
}

@media screen and (max-width: 1200px) {

    /* Main Container */
    .new-offers-main-container {
        padding: $homepage-xl-offers-padding;
    }

    /* Title */
    .title {
        @include offers-title-typography($title-font-size-xl);
    }

    /* Discount and Platform */

    .platform-discount-container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .2rem .5rem;
        width: 100%;
        bottom: 10px;

        i {
            font-size: 1.2rem;
            padding: .2rem .5rem;
            border-radius: 4rem;
        }

        span {
            @include discount-style(0.2rem 1rem, 600, 1rem, var(--font-gontSerrat));
            border-radius: 1rem;
        }
    }

    /* Info Container */
    .game-title {
        font-size: .9rem;
    }

    .prices-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        gap: -1rem;
    }

    .current-price {
        @include current-price-style(1rem, 600, 3px, 0rem, var(--font-gontSerrat));
    }

    .regular-price {
        @include cancelled-price(0.6rem, 500);
    }

    .web-offer {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 992px) {
    .new-offers-main-container {
        padding: $homepage-lg-offers-padding;
    }

    .vertical-card-container {
        width: 100%;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .new-offers-main-container {
        padding: $homepage-sm-offers-padding;
    }

    .title {
        @include offers-title-typography($title-font-size-md);
    }
}

@media screen and (max-width: 568px) {
    .new-offers-main-container {
        padding: $homepage-sm-offers-padding;
    }

    /* Title */

    .title {
        @include offers-title-typography($title-font-size-sm);
    }

    /* Prices Container */

    .price-and-platform-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Discount and Platform */

    .platform-discount-container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: .5rem;
        flex-direction: column;
        padding: .2rem .5rem;
        width: 100%;
        bottom: 10px;

        i {
            font-size: 1rem;
            padding: .2rem .5rem;
            border-radius: 4rem;
        }

        span {
            @include discount-style(0.2rem 1rem, 600, .9rem, var(--font-gontSerrat));
            border-radius: 1rem;
        }
    }

    /* Info Container */
    .game-title {
        font-size: .8rem;
    }

    .prices-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        gap: -1rem;
    }

    .current-price {
        @include current-price-style(.8rem, 600, 3px, 0rem, var(--font-gontSerrat));
    }

    .regular-price {
        @include cancelled-price(0.6rem, 600);
    }

    .web-offer {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: map.get($colores, primary-color);
        height: 30%;
        padding: 0rem 1rem;
        max-width: 100%;
    }

    .title {
        @include offers-title-typography($title-font-size-xsm);
    }

    .game-title {
        font-size: .8rem;
    }

    /* Info Container */

    .price-and-platform-container {
        justify-content: center;
        align-items: center;
    }

    .prices-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: -1rem;
    }

    .current-price {
        @include current-price-style(1.1rem, 600, 3px, 0rem, var(--font-gontSerrat));
    }

    .regular-price {
        @include cancelled-price(0.7rem, 600);
    }

    .web-offer {
        display: none;
    }
}