@use '../../_variables/variables' as *;
@use '../../_variables/mixins' as *;
@use 'sass:map';

.error-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.error-icon {
    width: 70px;
    height: 80px;
}

.text-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    line-height: 2rem;
    gap: 0.7rem;
    color: map.get($colores, font-light-background-color);

    span {
        font-size: clamp(1rem, 1.2vw + .6rem, 1.5rem);
        font-family: $seconday-font-style;
    }
}

span.error-code {
    font-weight: 660;
    font-family: $primary-font-style;
    color: map.get($colores, font-light-background-color);
}

@media screen and (max-width: 992px) {
    .text-container {
        gap: .5rem;
    }
}