@use '../_variables/variables' as *;
@use 'sass:map';

@mixin flex-center-elements-XY {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin offer-shadow {
    box-shadow: -1px 1px 69px -32px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 1px 69px -32px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 1px 69px -32px rgba(0, 0, 0, 1);
}

@mixin list-format-shadow {
    box-shadow: 9px 18px 88px -8px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 9px 18px 88px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 18px 88px -8px rgba(0, 0, 0, 1);
}

@mixin offers-title-typography($font-size) {
    font-family: var(--font-gontSerrat);
    font-size: $font-size;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
}

@mixin discount-style($padding-size, $font-weight, $font-size, $font-family) {
    background-color: map.get($colores, discount-color);
    padding: $padding-size;
    color: map.get($colores, font-dark-background-color);
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}

@mixin current-price-style($font-size, $font-weight , $letter-spacing, $margin-left, $font-family) {
    color: map.get($colores, color-price);
    font-weight: $font-weight;
    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    margin-left: $margin-left;
}

@mixin cancelled-price ($font-size, $font-weight) {
    color: map.get($colores, secondary-color);
    font-size: $font-size;
    font-weight: $font-weight;
    text-decoration: line-through;
    font-family: var(--font-gontSerrat);
    letter-spacing: 3px;
}

@mixin error-text-style {
    font-family: var(--font-timeless);
    font-size: 1.2rem;
    font-weight: 600;
    color: map.get($colores, font-dark-background-color)
}

@mixin button-shadow-homepage {
    box-shadow: -1px 31px 98px -21px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 31px 98px -21px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 31px 98px -21px rgba(0, 0, 0, 1);
}

@mixin review-box-shadow {
    box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 1);
}

@mixin resume-game-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}