$colores: (
    primary-color: #494A7F,
    secondary-color: #B8F7FF,
    complementary-color: #416397,
    platform-color: #7F93AA,
    dark-background-color: #3B424A,
    star-color: #EEFF04,
    font-light-background-color: #000,
    font-dark-background-color: #fff,
    discount-color: #FE392B,
    color-price: #26F160,
);

$primary-font-style: var(--font-gontSerrat);
$seconday-font-style: var(--font-timeless);

$homepage-offers-padding: 80px 180px;
$homepage-xl-offers-padding: 70px 120px;
$homepage-lg-offers-padding: 60px 90px;
$homepage-sm-offers-padding: 50px 20px;

$default-text-decoration: underline .1rem #fff solid;
$title-shadow: 3px 0px 7px rgba(0, 0, 0, 0.58);

$title-font-size-default: 1.8rem;
$title-font-size-xl: 1.6rem;
$title-font-size-md: 1.5rem;
$title-font-size-sm: 1.2rem;
$title-font-size-xsm: 1rem;

$footer-title-xl: 1.5rem;
$footer-size-p-xl: .8rem;
$footer-size-small-xl: .7rem;

$footer-title-lg: 1.3rem;
$footer-size-p-lg: 0.6rem;
$footer-size-small-lg: 0.5rem;

$footer-subtitle-xl: 1.1rem;
$footer-info-font-size-xl: 0.8rem;

$footer-subtitle-lg: .9rem;
$footer-info-font-size-lg: .7rem;

/* Game Page */

$game-page-padding-x-axis: clamp(.7rem, 5vw, 7rem);

/* Game Cards Styles */
$offerimage-and-gameimage-width: 45%;
$offerimage-and-gameimage-height: clamp(250px, 35vw, 325px);

/* Offer Card */

$offer-oldprice-discount-font-size: clamp(.7rem, .4rem + 2vw, 1.4rem);