$colores: (
    primary-color: #494A7F,
    secondary-color: #B8F7FF,
    complementary-color: #416397,
    font-light-background-color: #000,
    font-dark-background-color: #fff,
    discount-color: #FE392B,
    color-price: #26F160,
);

$homepage-offers-padding: 80px 120px;
$default-text-decoration: underline .1rem #fff solid; 
