$colores: (
    primary-color: #494A7F,
    secondary-color: #B8F7FF,
    complementary-color: #416397,
    platform-color: #7F93AA,
    dark-background-color: #3B424A,
    star-color: #EEFF04,
    font-light-background-color: #000,
    font-dark-background-color: #fff,
    discount-color: #FE392B,
    color-price: #26F160,
);

$homepage-offers-padding: 80px 180px;
$default-text-decoration: underline .1rem #fff solid; 
$title-shadow: 3px 0px 7px rgba(0,0,0,0.58);
