* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.error-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 8rem 4rem;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.content-container {
    width: 35%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-and-button-container {
    width: 100%;
}

.text-error {
    width: 100%;
    font-family: var(--font-gontSerrat);
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.character {
    width: 350px;
    height: 350px;
    position: absolute;
    right: -350px;
}

.button {
    width: 60%;
    height: 70px;
    position: relative;
    background: #494A7F;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    border: #494A7F 0.3rem solid;
    font-size: 15px;
    outline: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.button:hover {
    background: white;
    color: #494A7F;
}