@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

.franchise-container {
    width: 100%;
    margin-bottom: 2.5rem
}

.title {
    @include mainTitleGamePage;
}

.franchise-cards-container {
    width: 100%;
}

@include seeAllOffers;