@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

.franchise-container {
    width: 100%;
    margin-bottom: 2.5rem;
    scroll-margin-top: 70px;
}

.hidden-franchise-card {
    display: none;
}

.title {
    @include mainTitleGamePage;
}

.franchise-cards-container {
    width: 100%;
    margin-bottom: 1rem;
}

@include seeAllOffers(40%);

@media screen and (max-width: 1200px) {
    @include seeAllOffers(50%);
}

@media screen and (max-width: 992px) {
    @include seeAllOffers(60%);
}

@media screen and (max-width: 768px) {
    @include seeAllOffers(70%);
}

@media screen and (max-width: 568px) {
    @include seeAllOffers(80%);
}