@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

.cards-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: -160px;
    width: 100%;
    padding: 0rem $game-page-padding-x-axis;

    // Si solo hay un hijo, lo centramos
    > :only-child {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .cards-container {
        bottom: -140px;
    }
}

@media screen and (max-width: 1200px) {
    .cards-container {
       justify-content: center;
    }
}