@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

.game-info-container {
    padding: 3rem $game-page-padding-x-axis;
}

.cards-container {
    @include flex-center-elements-XY;
    width: 100%;
    height: 100%;
}