@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

$font-main-color: map.get($colores, font-dark-background-color);

.game-images-video-container {
    width: 100%;
    margin-bottom: 2rem;
}

.title {
    @include mainTitleGamePage;
}

.game-trailer-container {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
}

.game-trailer {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    @include game-content-shadow;
}

.main-images-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    margin-bottom: 1rem;

    .image-container {
        position: relative;
        width: $game-images-width;
        height: 250px;
    }
}

.rest-images-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;

    .image-container {
        position: relative;
        width: calc(25% - .5rem);
        height: 200px;
    }
}

.image {
    @include game-content-shadow;
    border-radius: $border-radius-gamecontent;
    object-fit: cover;
}

@media (max-width: 768px) {

    /* primera imagen */
    .rest-images-container .image-container:first-child {
        width: 100%;
        margin-bottom: $vertical-margin-video-images;
    }

    /* última imagen */
    .rest-images-container .image-container:last-child {
        width: 100%;
    }

    /* Resto de imagenes */

    .rest-images-container .image-container {
        width: $game-images-width;
        margin-bottom: $vertical-margin-video-images;
    }
}