@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

$font-main-color: map.get($colores, font-dark-background-color);

.game-images-video-container {
    width: 100%;
    margin-bottom: 2rem;
}

.title {
    padding-left: 0rem;
    @include resume-game-title-two-lines;
    @include mainTitleGamePage;
}

.game-trailer-container {
    height: 600px;
    width: 100%;
    margin-bottom: 1rem;
}

.video-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.main-images-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;
    margin-bottom: 1rem;

    .image-container {
        position: relative;
        height: 250px;
        width: 100%;
    }
}

.rest-images-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem;

    .image-container {
        position: relative;
        width: 100%;
        height: 200px;
    }
}

.image {
    @include game-content-shadow;
    border-radius: $border-radius-gamecontent;
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .game-trailer-container {
        height: 450px;
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .game-trailer-container {
        height: 350px;
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .game-trailer-container {
        height: 300px;
        width: 100%;
        margin-bottom: 1rem;
    }
}