@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

$font-main-color: map.get($colores, font-dark-background-color);

.game-images-video-container {
    width: 100%;
    margin-bottom: 2rem;
}

.title {
    text-transform: uppercase;
    color: $font-main-color;
    font-family: var(--font-gontSerrat);
    font-weight: 700;
    font-size: 1.4rem;
}

.game-trailer-container {
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;
}

.game-trailer {
    width: 100%;
    height: 100%;
}

.main-images-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rest-images-container {
    display: flex;
    gap: 1rem;
}

.image-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.image {
    object-fit: cover;
}