@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

.official-stores-container h2 {
    @include mainTitleGamePage;
    margin-bottom: 2rem;
    white-space: nowrap;
}

.offers-container {
    width: 100%;
}