@use '../../_variables/mixins' as *;
@use '../../_variables/variables' as *;
@use 'sass:map';

.title {
    @include mainTitleGamePage;
    white-space: nowrap;
}

.offers-container {
    width: 100%;
    margin-bottom: 2.5rem;
}

